@font-face {
    font-family: 'Jakarta';
    src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'DM';
    src: url(../fonts/DMSans-Regular.ttf);
}

body {
    font-family: 'Jakarta', Semibold;
    background-color: bisque;
    width: 100%;

}




/* ABOUT
     ========================================================================== */
.title__base {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    text-align: center;

}

.about__table {

    margin-top: 230px;
    max-width: 100%;
    min-height: 100%;
    gap: 1em;
    justify-content: center;
    align-items: center;
    /*adaptables sin usar mediaqueris*/
    /* display: flex;
    position: relative; */
}

.about__element {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 13px;
    padding: 20px;
    width: fit-content;

}

.about__title {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.3rem;

}